<div class="d-flex justify-content-center campaign-panel">
  <div class="d-flex gap-5 flex-wrap campaign-container">
    @for (campaign of campaignList; track campaign) {
      <div role="button" class="mb-2 campaign-card" (click)="selectCampaign(campaign)">
        <h3>{{campaign.title}}</h3>
      </div>
    }
    @if (!createMode) {
      <div role="button" class="campaign-card new-campaign" (click)="createMode=true">
        <h4>Create new Campaign</h4>
      </div>
    } @else {
      <div role="button" class="campaign-card new-campaign">
        <form [formGroup]="campaignForm">
          <input formControlName="title" type="text" placeholder="campaign title" (keyup.enter)="createCampaign()">
        </form>
      </div>
    }
  </div>
</div>
<div class="footer">

</div>
