.scenario-panel {
  min-width: 50%;
  max-width: 600px;
  min-height: 25vh;
  overflow: auto;
}

.toolbar-panel {
  position: fixed;
  top: 0;
  right: 0;
}

.monster-panel {
  width: 35%;
  min-height: 25vh;
}

.monster-modal {
  height: 25vh;
}

.player-panel {
  position: fixed;
  bottom: 0;
}

.player-modal {
  position: fixed;
  top: 35%;
}


