<div class="d-flex flex-column panel border-main">
  @for (scenario of scenarioList; track scenario) {
    <div class="d-flex flex-row w-100 align-items-center justify-content-between">
      <div role="button" (click)="selectScenario(scenario)" class=""><span>{{scenario.order}}</span></div>
      <div role="button" (click)="selectScenario(scenario)"><span>{{scenario.title}}</span></div>
      <div>
        @if (!scenario.combat_mode) {
          <i class="fa-solid fa-scroll" role="button" (click)="showScenarioModal(scenario)"></i>
        } @else {
          <i class="fa-solid fa-skull-crossbones" role="button" (click)="showScenarioModal(scenario)"></i>
        }
      </div>
    </div>
  }
  <div class="d-flex justify-content-center w-100 text-white mt-4">
    <i class="fa-solid fa-feather" role="button" (click)="showNewScenarioModal()"></i>
  </div>
</div>

