.player-content {
  width: 35vw;
  height: 50vh;
  overflow-y: auto;
}

.player-content > iframe {
  height: 100%;
  width: 100%;
}

.scenario-content {
  width: 25vw;
  height: 60vh;
  overflow-y: auto;
}

img {
  width: 80%;
  height: 200px;
}

.monster-content {
  height: 98%;
  overflow-y: auto;
}

.back-fill {
  padding: 3px;
  border: 2px solid transparent;
  border-image-source: url("/assets/backgrounds/parchment.jpg");
  border-image-slice: 20 20 22 20 fill;
  border-image-repeat: inherit;
}

input:focus {
  outline: none;
}

.upload-map {
  width: 80%;
  height: 200px;
}
