.player-content {
  width: 35vw;
  height: 50vh;
  overflow-y: auto;
}

.player-content > iframe {
  height: 100%;
  width: 100%;
}

.scenario-content {
  width: 25vw;
  height: 60vh;
}

img {
  width: 80%;
  height: 200px;
}

.monster-content {
  height: 98%;
  overflow-y: auto;
}
