@font-face {
  font-family: 'Dragonfly';
  src: url('assets/dragonfly-font/Dragonfly-z9jl.ttf') format('truetype');
}

body {
  font-family: 'Dragonfly', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: antiquewhite;
}

ul {list-style-type: none;}

.hidden {
  visibility: hidden;
}

.border-main {
  padding: 13px;
  border: 9px solid transparent;
  border-image-source: url("assets/borders/border-full.png");
  border-image-slice: 20 12 22 10 fill;
  border-image-repeat: inherit;
  overflow: auto;
}

body {
  height: 150vh;
  background-image: url("assets/maps/training-grounds.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

