@font-face {
  font-family: 'LibreBodoni';
  src: url('assets/fonts/Libre-Bodoni-master/LibreBodoni-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('assets/fonts/Libre-Bodoni-master/LibreBodoni-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'LibreBodoni';
  font-size: 1.4rem;
  font-weight: 600;
  color: antiquewhite;
}

hr {
  border-width: 3px;
}

ul {list-style-type: none;}

.border-main {
  padding: 13px;
  border: 9px solid transparent;
  border-image-source: url("assets/borders/border-full.png");
  border-image-slice: 20 20 22 20 fill;
  border-image-repeat: inherit;
  /*overflow: auto;*/
  z-index: 1;
}

body {
  height: 130vh;

}


